@font-face {
    font-family: CustomFont;
    src: url(../font/PublicSans-VariableFont_wght.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    color: #fffcf2;
    font-family: CustomFont;
}

/******************* Início do header *******************/
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1E1E1E;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
}

header nav ul li{
    text-align: center;
    width: 8vw;
}

header nav ul li a{
    padding: 1rem;
    text-decoration: none;
    color: #fffcf2;
    transition: .3s ease;
}

header nav ul li a:hover{
    background-color: #f8f0fb;
    color: #6320ee;
}
/******************* Fim do header *******************/

/******************* Inicio section home *******************/
section#home{
    background-image: url(../img/david-schultz-SrewPUfo2c0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    background-position: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
}

section#home h1{
    margin: 10vw 0 10vw 0;
    letter-spacing: 12px;
    font-weight: 900;
}

section#home h2{
    margin: 0;
    letter-spacing: 6px;
}

section#home h3{
    margin-bottom: 4vw;
    font-weight: 600;
}

section#home a button{
    background-color: #eb5e2832;
    color: #fffcf2;
    border: none;
    width: 6rem;
    height: 4rem;
    border-radius: 8px;
    transition: .3s ease;
}

section#home a button:hover{
    background-color: #6320ee;
    box-shadow: 0 0 2rem #403d39;
}
/******************** Fim section home ********************/

/***************** Inicio section about *****************/
section#about{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #f2f2f2;
    color: #000;
    height: 40vw;
}

section#about div.resumo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 10rem;
    
}

section#about div.resumo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

section#about div.resumo p{
    width: 40rem;
    margin-left: 4rem;
    text-align: justify;
}

section#about div.more{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

section#about div.more a button{
    width: 12rem;
    height: 3rem;
    margin: 0 4rem;
    background-color: #6320ee;
    color: #f8f0fb;
    border: none;
    border-radius: 8px;
    transition: .3s ease;
}

section#about div.more a button:hover{
    background-color: #211a1d;
    box-shadow: 0 0 2rem #8075ff;
}
/***************** Fim section about *****************/

/***************** Inicio Section skills *****************/
section#skills{
    padding: 4rem 0;
    background-color: #252422;
    color: #fffcf2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#skills h2{
    margin: 0;
}

/******************* Fim section skills *******************/