<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto 1 - Humor do Humor</title>
        <link rel="stylesheet" href="../static/css/jogo-humor.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Projeto 1 Módulo II</h1>
                <h2>Jogo do humor</h2>
            </header>
            
            <section>
                <div>
                    <img src="../static/img/meme.png" alt="Imagem do personagem tranquilo">
                </div>
                <article>
                    <p>Este é o Meme.</p>
                    <p class="humor">O Meme é um ser bipolar.</p>
                    <p>Clique no botão abaixo para mudar seu humor do Meme.</p>
                </article>
                <div class="btns">
                    <button>Mudar</button>
                    <a href="/"><button>Voltar</button></a>

                </div>
            </section>
        </main>

        <script src="../static/js/humores.js"></script>
        <script src="../static/js/jogo.js"></script>
    </body>
</html>