<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio - José Macedo</title>
    <link rel="stylesheet" href="../static/css/send.css">
    <script>
        document.querySelector('main#sender').onload = setTimeout( () => window.location.href = '/', 5000)
    </script>
</head>
<body>
    <main id="sender">
        <h1>Mensagem Enviada</h1>
        <p>Olá <span>{{contato}}</span>! Agradeço por sua mensagem. Assim que puder entrarei em contato.</p>
        <p>Até breve!</p>
    </main>
</body>
</html>